/* Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    width: 33.3333%; /* Takes up 1/3 of the page width */
    min-height: calc(100vh - 60px); 
    padding: 10px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    background-color: #f4f4f4; 
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  .sidebar form {
    margin-bottom: 10px; 
    padding: 10px 20px;
    width: 100%; /* Full width of the sidebar */
    box-sizing: border-box; /* Include padding in the width */
  }
  
  .sidebar input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px soild #ddd;

  }
  /* Additional styles for the button */
  .sidebar button {
    background-color: #e0e0e0;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
  }
  

  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height to fill the area */
    right: 0;
  }
  
  .calendar {
    width: 100%; /* Adjust width to fill the container */
    max-width: 600px; /* Or set a max-width that fits your design */
    margin: auto;
    border-collapse: collapse;
  }
  
  .calendar th,
  .calendar td {
    border: 1px solid #ddd;
    padding: 7px; 
    text-align: center;
    width: 14.28%; 
    height: 50px; /* Adjust the height to your preference */
  }
  
  .calendar td.current-day {
    background-color: #e0e0e0; 
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .calendar {
      width: 100%;
      max-width: 100%;
    }
  
    .calendar th,
    .calendar td {
      padding: 5px;
      height: 40px; 
    }
  }
  
  